/**
 * Copyright (c) 2020 Timur Sultanaev All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

@font-face {
  font-family: Metropolis;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../static/fonts/metropolis/Metropolis-Bold.woff2) format("woff2"),
       url(../static/fonts/metropolis/Metropolis-Bold.woff) format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../static/fonts/metropolis/Metropolis-Regular.woff2) format("woff2"),
       url(../static/fonts/metropolis/Metropolis-Regular.woff) format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(../static/fonts/metropolis/Metropolis-RegularItalic.woff2) format("woff2"),
       url(../static/fonts/metropolis/Metropolis-RegularItalic.woff) format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../static/fonts/metropolis/Metropolis-SemiBold.woff2) format("woff2"),
       url(../static/fonts/metropolis/Metropolis-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Metropolis;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url(../static/fonts/metropolis/Metropolis-Thin.woff2) format("woff2"),
       url(../static/fonts/metropolis/Metropolis-Thin.woff) format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url(../static/fonts/inter/Inter-Bold.woff2) format("woff2"),
       url(../static/fonts/inter/Inter-Bold.woff) format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(../static/fonts/inter/Inter-Regular.woff2) format("woff2"),
       url(../static/fonts/inter/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: Inter;
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url(../static/fonts/inter/Inter-SemiBold.woff2) format("woff2"),
       url(../static/fonts/inter/Inter-SemiBold.woff) format("woff");
}