{{! http://handlebarsjs.com }}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{!-- 
      You can change it to e.g. `/ui/`, 
      but also edit values `publicPath` and `historyApiFallback` in`webpack.config.js`.
    --}}
    <base href="/seed-icons-browser/">
    <link href="static/font-awesome/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    {{!-- <link href="static/material-icons/iconfont/material-icons.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script charset="UTF-8" 
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/rust.min.js"></script>

    <script type="module" src="static/js/codeBlock.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {{> social_media}}
    {{> favicons}}
  </head>
  <body class="fade-in font-body text-18 bg-gray-1 overflow-x-hidden w-screen relative sm:text-26 lg:text-45">
    <section id="app" class="overflow-x-hidden w-screen relative">
      {{> loading_page}}
    </section>
  </body>
</html>
