{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8">
<title>Seed Icons Browser</title>
{{! Search Engine }}
<meta name="description" content="Seed Icons - browse thousands of icons for awesome Seed framework">
